# Requirements
![requirements image](https://drive.google.com/uc?export=view&id=1_1WKwxVI-YE1BwaMFfYuzRIFxg2oOPuS)

# Our Questions:


* Do you receive financial aid?(What range of % does it cover your expenses)
* Do you receive aid via scholarship? (What range of % does it cover your expenses)
* How many hours / week do you work?
* How many hours per week do you work in a lab?
* How many jobs and internships have you applied for during your college career?

# Analysis

## Before using pd.read_csv!!!
You'll need to go to files on the bar to the left, then upload the file to google colab (click upload to session storage). Then, you'll see your file in the bar and you can right click on it and copy the path to put into pd.read_csv. 

Make sure to download the spreadsheet as a .csv!

I hope this isn't too annoying. It's just the way google colab does files, we won't have to do this on jupyter notebook

# Get raw data

In [ ]:
import pandas as pd
raw_df = pd.read_csv("/content/Mock Form (Responses) - Form Responses 1.csv")

In [ ]:
raw_df

           Timestamp  ... On average, how many hours do you work at a research lab per week?
0  2/3/2022 10:47:08  ...                                                  0
1  2/3/2022 10:48:52  ...                                                  2
2  2/3/2022 10:51:33  ...                                                  2
3  2/3/2022 10:57:08  ...                                                 10
4  2/3/2022 10:57:36  ...                                                 12
5  2/3/2022 10:58:08  ...                                                 10
6  2/3/2022 10:58:54  ...                                                 15
7  2/3/2022 11:05:53  ...                                                 20
8  2/3/2022 11:07:21  ...                                                 12
9  2/3/2022 11:07:54  ...                                                  9

[10 rows x 6 columns]

# Create dataframe called df that has only the columns we need, and with shorter column aliases

In [ ]:
questions = ['On average, how many hours do you work at a paid job per week?',
             'On average, how many hours do you work at a research lab per week? ',
             'On average, what percentage of school expenses does your scholarship cover? (Enter 0 if not applicable)',
             'On average, what percentage of school expenses does your financial aid cover? (Enter 0 if not applicable.)',
             'How many jobs and internships have you applied for during your college career?']

aliases = ['Paid Job Hours',
           'Research Lab Hours',
           'Scholarship Percentage',
           'Finaid Percentage',
           'Num Applications']

In [ ]:
df = raw_df[questions]

#rename columns to aliases
for i in range(len(questions)):
  df = df.rename(columns={questions[i]: aliases[i]})

df

   Paid Job Hours  Research Lab Hours  ... Finaid Percentage Num Applications
0              20                   0  ...                90               15
1              10                   2  ...                20                4
2               9                   2  ...               80%             1000
3              15                  10  ...                70               38
4              17                  12  ...                88               50
5              20                  10  ...                30               40
6              25                  15  ...                 0              110
7              10                  20  ...                69               73
8              16                  12  ...                29              172
9              17                   9  ...                48               32

[10 rows x 5 columns]